html,body
{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
}
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height: 20%;
    padding-right: 40px;

}
#contenedor_principal
{
    display: flex;
    background-color: antiquewhite;
    color:black;
    height: 60%;
    
}
.pie_pagina
{
    display: flex;
    height: 20%;
    background-color: black;
    color: white;
}
.lateral
{
    display:flex;
    width: 30%;
    background-color: aquamarine;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}
ul li
{
  display: inline;
  margin-left: 5px;
}

ul li:hover
{
  color: brown;
}

.parrafo
{
    text-align: justify;
    border: 10px solid;
    border-color: red;
    border-radius: 30px;

    font-size: 20px;
    font-family: cursive;

}
.principal
{
    margin: 50px;
    width: 70%;
}

ol 
{
    list-style-type: none;
}